# __Python__

## Basics

### _Variables and Data-types_

- Sum of two numbers

In [1]:
num1 = int(input("enter num 1 :"))
num2 = int(input("enter num 2 :"))
print(num1, "+", num2, "=", num1 + num2)

1 + 2 = 3

- Area of Square

In [2]:
num1 = int(input("enter side of square :"))
print("Area :", num1**2)

Area : 9

- Average of two numbers

In [3]:
num1 = float(input("enter float 1"))
num2 = float(input("enter float 2"))
print("Avg :", (num1 + num2) / 2)

Avg : 4.5

- a >= b

In [4]:
num1 = int(input("enter a :"))
num2 = int(input("enter b :"))
print(num1 >= num2)

False

### _Strings_

- Enter name

In [5]:
str1 = input("enter your name :")
print(str1)

Tanmay

### _Conditionals_

- Odd or even

In [6]:
num1 = int(input("enter a number :"))
if (num1 % 2 == 0) :
    print("EVEN")
else :
    print("ODD")
1

ODD

1

- Greatest of three

In [7]:
num1 = int(input("Enter num 1 :"))
num2 = int(input("Enter num 2 :"))
num3 = int(input("Enter num 3 :"))
if (num1 > num2):
    if (num1 > num3):
        print(num1)
    else:
        print(num3)
else:
    if (num2 > num3):
        print(num2)
    else:
        print(num3)

31351

- Divisible by 7

In [8]:
num1 = int(input("Enter a num :"))
if (num1 % 7 == 0):
    print("YES")
else:
    print("NO")

NO

### _Lists & Tuples_

- Lists

In [9]:
l1 = []
l1 += input("Enter a list")
print(list)

<class 'list'>

- List Slicing

In [10]:
l2 = l1[0 : 6]
print(l2)

['1', '5', '6', '3', '5', '1']

- Tuples

In [11]:
t1 = (int(input("enter a num")),)
print(type(t1), (t1) )

<class 'tuple'> (351351,)

- Input in tuple

In [16]:
favMovies = []
favMovies.append(input("Enter movie 1"))
favMovies.append(input("Enter movie 2"))
favMovies.append(input("Enter movie 3"))
print(favMovies)

['Intersteller', 'RRR', 'Tenet']

- Palindrome or not

In [13]:
l1 = []
l1 += input("enter a list")
rev = l1.copy()
rev.reverse()
if(l1 == rev):
    print("Is Palindrome")
else:
    print("Is NOT Palindrome")

Is NOT Palindrome

- Count method

In [14]:
t1 = ('C', 'D', 'A', 'A', 'B', 'B', 'A')
print(t1.count('A'))

3

- Sorting

In [15]:
l1 = list(t1)
l1.sort()
print(l1)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

### _Dictionaries & Sets_

- Dictionary eg.

In [8]:
dict = {}
dict.update({
    "table" : ["a piece of furniture", "list of facts and figures"],
    "cat" : "a small animal"
})
print(dict)
print(list(dict.items()))

{'table': ['a piece of furniture', 'list of facts and figures'], 'cat': 'a small animal'}
[('table', ['a piece of furniture', 'list of facts and figures']), ('cat', 'a small animal')]

- Sets eg.

In [22]:
classes = {"python", "java", "c++", "python", "javascript", "java", "python", "java", "c++", "c"}
print(len(classes))

5

- User input in dictionaries

In [23]:
subMarks = {}
sub1 = input("Enter sub 1")
m1 = int(input("Enter marks in " + sub1))
sub2 = input("Enter sub 2")
m2 = int(input("Enter marks in " + sub2))
sub3 = input("Enter sub 3")
m3 = int(input("Enter marks in " + sub3))
subMarks.update({
    sub1 : m1,
    sub2 : m2,
    sub3 : m3
})
print(subMarks)

{'physics': 84, 'chemistry': 77, 'maths': 91}

- Datatype distinction in sets

In [ ]:
s1 = set();
# due to same hashing values, 9 and 9.0 are considered equal
s1.add(int(9));
s1.add(float(9.0))
print(s1)

{9}