# __Python__

## Basics

### _Variables and Data-types_

- Sum of two numbers

In [1]:
num1 = 3
num2 = 4
print(num1, "+", num2, "=", num1 + num2)

3 + 4 = 7

- Area of Square

In [2]:
num1 = 7
print("Area :", num1**2)

Area : 49

- Average of two numbers

In [3]:
num1 = 3.14
num2 = 5.6
print("Avg :", (num1 + num2) / 2)

Avg : 4.37

- a >= b

In [4]:
num1 = int(input("enter a :"))
num2 = int(input("enter b :"))
print(num1 >= num2)

False

### _Strings_

- Enter name

In [5]:
str1 = input("enter your name :")
print(str1)

tanmay

### _Conditionals_

- Odd or even

In [6]:
num1 = 7
if (num1 % 2 == 0) :
    print("EVEN")
else :
    print("ODD")
1

ODD

1

- Greatest of three

In [7]:
num1 = 5
num2 = 6
num3 = 7
if (num1 > num2):
    if (num1 > num3):
        print(num1)
    else:
        print(num3)
else:
    if (num2 > num3):
        print(num2)
    else:
        print(num3)

7

- Divisible by 7

In [8]:
num1 = 21
if (num1 % 7 == 0):
    print("YES")
else:
    print("NO")

YES

### _Lists & Tuples_

- Lists

In [9]:
l1 = []
l1 += input("Enter a list")
print(list)

<class 'list'>

- List Slicing

In [10]:
l2 = l1[0 : 6]
print(l2)

['h', 'f', 'd', 'i', 'u', 'w']

- Tuples

In [11]:
t1 = (int(input("enter a num")),)
print(type(t1), (t1) )

<class 'tuple'> (45,)

- Input in tuple

In [12]:
favMovies = []
favMovies.append("Tenet")
favMovies.append("Intersteller")
favMovies.append("Tamasha")
print(favMovies)

['Tenet', 'Intersteller', 'Tamasha']

- Palindrome or not

In [13]:
l1 = []
l1 += input("enter a list")
rev = l1.copy()
rev.reverse()
if(l1 == rev):
    print("Is Palindrome")
else:
    print("Is NOT Palindrome")

Is NOT Palindrome

- Count method

In [14]:
t1 = ('C', 'D', 'A', 'A', 'B', 'B', 'A')
print(t1.count('A'))

3

- Sorting

In [15]:
l1 = list(t1)
l1.sort()
print(l1)

['A', 'A', 'A', 'B', 'B', 'C', 'D']

### _Dictionaries & Sets_

- Dictionary eg.

In [16]:
dict = {}
dict.update({
    "table" : ["a piece of furniture", "list of facts and figures"],
    "cat" : "a small animal"
})
print(dict)
print(list(dict.items()))

{'table': ['a piece of furniture', 'list of facts and figures'], 'cat': 'a small animal'}
[('table', ['a piece of furniture', 'list of facts and figures']), ('cat', 'a small animal')]

- Sets eg.

In [17]:
classes = {"python", "java", "c++", "python", "javascript", "java", "python", "java", "c++", "c"}
print(len(classes))

5

- User input in dictionaries

In [18]:
subMarks = {}
sub1 = input("Enter sub 1")
m1 = int(input("Enter marks in " + sub1))
sub2 = input("Enter sub 2")
m2 = int(input("Enter marks in " + sub2))
sub3 = input("Enter sub 3")
m3 = int(input("Enter marks in " + sub3))
subMarks.update({
    sub1 : m1,
    sub2 : m2,
    sub3 : m3
})
print(subMarks)

{'jhsdc': 63521, 'edyfgcu': 2131, 'cidsuc': 645}

- Datatype distinction in sets

In [19]:
s1 = set();
# due to same hashing values, 9 and 9.0 are considered equal
s1.add(int(9));
s1.add(float(9.0))
print(s1)

{9}

### _Loops_

- Print 1 to 100

In [22]:
count = 1
while count < 101 :
    print(count)
    count += 1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

- Print 100 to 1

In [23]:
count = 100
while count > 0 :
    print(count)
    count -= 1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

- Print table of a number

In [30]:
num = 19
i = 1
while i <= 10 :
    print(num, " x ", i, " = ", num*i )
    i += 1

19  x  1  =  19
19  x  2  =  38
19  x  3  =  57
19  x  4  =  76
19  x  5  =  95
19  x  6  =  114
19  x  7  =  133
19  x  8  =  152
19  x  9  =  171
19  x  10  =  190

- Print elements of list

In [31]:
ls = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
i = 0
while i < len(ls) :
    print(ls[i])
    i += 1

1
4
9
16
25
36
49
64
81
100

- linear search

In [34]:
ls = [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
target = 49
i = 0
while i < len(ls) :
    if (ls[i] == target) :
        print(i)
        break
    else :
        i += 1

6

- for-in loop

In [35]:
tup = (1, 4, 9, 16, 25, 36, 49, 64, 81, 100)
for num in tup :
    print(num)

1
4
9
16
25
36
49
64
81
100

- sum of first n natural numbers

In [43]:
i = 1
sum = 0
n = 5
while (i <= n) :
    sum += i
    i += 1
print(sum)

15

- factorial of n

In [48]:
n = 5
fact = 1
for el in range(1, n+1) :
    fact *= el
print(fact)

120

### _Functions_

- function to print length of list

In [2]:
cities = ["mumbai", "pune", "chennai", "shillong", "Ahmdabad", "Darjaling", "Delhi"]
heroes = ["Spider-man", "Krishh", "Iron-man"]
def lsLen(ls) : {
    print(len(ls))
}
lsLen(cities)
lsLen(heroes)

7
3

- function to print list in single line

In [4]:
cities = ["mumbai", "pune", "chennai", "shillong", "Ahmdabad", "Darjaling", "Delhi"]

def linePrint(ls):
    for ele in ls:
        print(ele, end=" ")
linePrint(cities)

mumbai pune chennai shillong Ahmdabad Darjaling Delhi

- function to find n factorial

In [28]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact *= i
    return fact

n = 5
print(factorial(n))

120

- odd even function

In [23]:
def oddEven(n):
    if (n % 2 == 0):
        return str(n) + " is Even"
    else:
        return str(n) + " is Odd"

n = 7
print(oddEven(n))

7 is Odd

### _Recursion_

- factorial

In [29]:
def factorial(n):
    if (n == 0):
        return 1
    else:
        return n*factorial(n-1)
    
n = 6
print(factorial(n))

720

- print a list

In [34]:
def printLs(ls, i):
    if (i == len(ls)):
        return
    else:
        return str(ls[i]) + " " + str(printLs(ls, i+1))

cities = ["mumbai", "pune", "chennai", "shillong", "Ahmdabad", "Darjaling", "Delhi"]
printLs(cities, 0)

'mumbai pune chennai shillong Ahmdabad Darjaling Delhi None'